node_modules
dist
build
.next
.git
.firebase
.cache
logs
tests
public
src
components
hooks
lib
data
functions
app
*.log
*.md
.env
.env.*
.gitignore
.firebaserc
firebase.json
render.yaml
vite.config.js*
tailwind.config.js
postcss.config.js
tsconfig.json
jsconfig.json
index.html
components.json
yarn.lock
docker-compose.yml
Dockerfile
.dockerignore
